<div class="container">
  <div class="row">
    You're ending this forms A/B test. Please pick the form you'd like to continue with.
  </div>
  <div class="row">
    <canvas options="options" id="line" class="chart-line" data="data" labels="labels" legend="true" series="series" click="onClick"></canvas> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      This form out performed the other by 3.8%!
    </div>
    <div class="col-lg-6">
      This form lost to the other by 3.8%.
    </div>
  </div>
  <div class="row">
    <small>You will have the chance to save any data that may be lost by removing the form version you choose to not continue with.</small>
  </div>
</div>