<div class="container-fluid">
  <div id="modaltitle" class="row text-center">
    You're ending this forms A/B test. Please pick the form you'd like to continue with.
  </div>
  <div class="row">
      <canvas options="options" id="line2" class="chart chart-line" data="data" labels="labels" series="series" click="onClick"></canvas> 
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <p>This form out performed the other by 3.8%!</p>
      <button class='btn btn-green'>Continue With This Version</button>
    </div>
    <div class="col-lg-6 text-center">
      <p>This form lost to the other by 3.8%.</p>
      <button class='btn btn-orange'>Continue With This Version</button>
    </div>
  </div>
  <div class="row">
    <small>You will have the chance to save any data that may be lost by removing the form version you choose to not continue with.</small>
  </div>
</div>