/*rgb(64, 170, 67) === '#41AA43' */

/*rgb(234, 158, 10) === '#EA9E0A' */

/* ***START*** button formatting*/
.btn-start {
  background-color: rgb(210, 217, 220);
}
/*TODO: adjust button css so calendar isn't interfering with it*/
.btn {
  color: white;
}

.btn-green {
  background-color: rgb(64, 170, 67);
}

.btn-orange {
  background-color: rgb(234, 158, 10);
}

.btn:focus {
  color: white;
}

.btn {
  min-width: 80px;
  height: 35px;
  border-radius: 2px;
}

.btn-end {
  color: white;
  background-color: black;
}

/* ***END*** button formatting*/

#chart-height {
  height: 350px;
}

th {
  color: rgb(98, 112, 122);
  background-color: rgb(224, 233, 237);
}

th:not(:first-child), td:not(:first-child) {
  text-align: center;
  font-weight: bold;
}
 
small {
  color: rgb(163, 136, 145);
}

.modal-dialog{
  width: 685px; 
  height: 422px; 
  position: absolute;
  top:0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin: auto
}

#line2 {
  padding: 0px 20px 0px 20px;;
  height: 200px !important;
}

#modaltitle {
  padding-top: 20px;
}