
/* green rgb(64, 170, 67) === '#41AA43' */

/* orange rgb(234, 158, 10) === '#EA9E0A' */

/* START BUTTON FORMATTING */

.btn-start {
  background-color: rgb(210, 217, 220);
}

.btn-white-font {
  color: white;
  min-width:80px;
  height: 35px;
  border-radius: 2px;
}

#start-button {
  width: 45%;
  padding: 0px;
}

#pause-button {
  width: 45%;
  padding: 0px;
}

.btn-green {
  background-color: rgb(64, 170, 67);
}

.btn-orange {
  background-color: rgb(234, 158, 10);
}

.btn:focus {
  color: white;
}

.btn-end {
  color: white;
  background-color: black;
  width: 90%;
}

.hidden {
  display:none;
}

/* END BUTTON FORMATTING */

.green {
  color: #41AA43;
}

.orange {
  color: #EA9E0A;
}

/* START CHART AND TABLE FORMATTING*/

#chart-height {
  height: 350px;
}

th {
  color: rgb(98, 112, 122);
  background-color: rgb(224, 233, 237);
}

th:not(:first-child), td:not(:first-child) {
  text-align: center;
  font-weight: bold;
}
 
small {
  color: rgb(163, 136, 145);
}

/* END CHART AND TABLE FORMATTING*/

/* START MODAL FORMATTING*/

.modal-dialog{
  width: 685px; 
  height: 422px; 
  position: absolute;
  top:0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin: auto;
}

#line2 {
  padding: 0px 20px 0px 20px;;
  height: 200px !important;
}

#modal-title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(124, 127, 138);
  font-weight: bold;
}

#modal-footer {
  padding-top: 20px;
  padding-bottom: 20px; 
}

/* END MODAL FORMATTING*/
